language: php

php:
    - 7.2
    - 7.3

cache:
    directories:
        - ~/.composer/cache/files

before_install:
    - phpenv config-rm xdebug.ini || true

install:
    - composer update --prefer-dist

script:
    - composer validate --strict

    - composer analyse

    - vendor/bin/phpspec run
    - vendor/bin/phpunit
