includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/proget-hq/phpstan-phpspec/extension.neon

    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    specDir: 'spec/'
    ignoreErrors:
        # PHPStan integration
        - '/^Call to an undefined method Prophecy\\Prophecy\\MethodProphecy::getRealPath\(\)\.$/'

        # Symfony 3.4 support
        - '/^Method Symfony\\Component\\HttpKernel\\KernelInterface::getBundle\(\) invoked with 2 parameters, 1 required\.$/'
        - '/^Method Symfony\\Component\\HttpKernel\\KernelInterface::getBundle\(\) invoked with 2 parameters, 0-1 required\.$/'
