includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        # Test dependencies
        - %currentWorkingDirectory%/spec/
        - %currentWorkingDirectory%/tests/Application/var/

    ignoreErrors:
        # PHPStan integration
        - '/Call to an undefined method Prophecy\\Prophecy\\MethodProphecy::getRealPath\(\)/'

        # Symfony caveats
        - '/Parameter \#1 \$name of method Symfony\\Component\\Config\\FileLocatorInterface::locate\(\) expects string, Symfony\\Component\\Templating\\TemplateReferenceInterface given/'

        # Symfony passes TemplateReference object instead of a string
        - "/Casting to string something that\\'s already string./"
        - '/Parameter \#1 \$name of method Twig\\Loader\\LoaderInterface::[A-Za-z]+\(\) expects string, string\|Symfony\\Component\\Templating\\TemplateReference given\./'

        - '/Method Sylius\\Bundle\\ThemeBundle\\Filesystem\\FilesystemInterface::[A-Za-z]+\(\) has no return typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::__call\(\) has no return typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::trans\(\) has parameter \$[A-Za-z]+ with no typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Templating\\Locator\\TemplateFileLocator::unserialize\(\) has parameter \$serialized with no typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Asset\\Package\\[A-Za-z]+::getUrl\(\) has parameter \$path with no typehint specified./'
        - '/Symfony\\Component\\Translation\\MessageSelector/'
        - '/Twig\\Loader\\ExistsLoaderInterface/'
        - '/Symfony\\Component\\Templating\\TemplateReferenceInterface/'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::trans\(\) has no return typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::setLocale\(\) has no return typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::getCatalogue\(\) has no return typehint specified./'
        - '/Method Sylius\\Bundle\\ThemeBundle\\Translation\\ThemeAwareTranslator::warmUp\(\) has no return typehint specified./'
